/* RESET */
* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: #444;
}

.integrated-background {
  background-image: url('../img/background.jpg');
  min-height: 100vh;
}

header {
  position: fixed;
  width: 100%;

  z-index: 10;
}

header a img {
  width: 180px;
  filter: invert(100%);
}

nav, ul {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
  opacity: 0.8;
}

a:hover {
  opacity: 1;
}

/* HEADER STYLES */
header {
  display: flex;
  background-color: rgba(255, 255, 255, .2);
  justify-content: space-between;
  align-items: center;
  padding: 10px 25px;

  box-shadow: 0 2px 3px #fff;
}

header nav {
  display: flex;
}

header nav li {
  font-size: 1.5rem;
}

header nav li a {
  color: #fff;
  padding: 10px 20px;
}

header nav li a:hover {
  background-color: #333;
  border-radius: 5px;
}



/* HOME STYLES */

#home {
  color: #fff;
  display: flex;
  min-height: 93vh;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;

  margin: 0 15%;
}

#home h1 {
  text-align: center;
  font-size: 4rem;
}

#home h3 {
  text-align: center;
  font-size: 2.5rem;
}

#home h4 {
  font-size: 2rem;
  align-self: flex-end;
}

#home hr {
  width: 15%;
  height: 5px;
  border: none;
  border-radius: 5px;
  background-color: #fff;
  margin: 10px 0;
}

@media (max-width: 700px) {

}

/* ABOUT STYLES */

#about {
  margin: 0 10%;
  margin-top: 25px;
  color: #fff;
  display: flex;
  min-height: 93vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#about h1 {
  font-size: 4rem;
  text-transform: uppercase;

  text-shadow: 2px 2px 3px #ccc;
}

#about h2 {
  font-size: 2.8rem;
  text-transform: uppercase;
}

#about h3 {
  font-size: 2.5rem;

  text-transform: uppercase;
  text-shadow: 1px 1px 1px #ccc;
}

#about hr {
  margin-bottom: 30px;
  width: 35%;
}

#about ul {
  width: 100%;
}

#about ul li {
  display: flex;
  align-items: center;
  margin: 5px 0;
}

#about ul li:hover {
  border-radius: 25px;
  background-color: rgba(100, 100, 60, 0.75);
}

#about ul li p {
  min-width: 10%;
}

#about ul li div.progress-bar {
  felx-basis: 2;
}

.progress-bar {
  background-color: rgba(52, 112, 175, 0.8);
  padding: 10px;
  border-radius: 25px;
}

.progress-bar-10 {
  width: 10%;
}

.progress-bar-20 {
  width: 20%;
}

.progress-bar-30 {
  width: 30%;
}

.progress-bar-40 {
  width: 40%;
}

.progress-bar-50 {
  width: 50%;
}

.progress-bar-60 {
  width: 60%;
}

.progress-bar-70 {
  width: 70%;
}

.progress-bar-80 {
  width: 80%;
}

.progress-bar-90 {
  width: 90%;
}

.progress-bar-100 {
  width: 100%;
}

footer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;

  text-align: center;
  color: #fff;
  font-size: 5em;
}

footer ul {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

footer ul li {
  margin-right: 50px;
}

footer ul li:last-child {
  marign-right: 0;
}

footer a {
  color: #fff;
}

/* BREAKPOINT FOR SMALL SCREENS*/
@media (max-width: 700px) {

  /* RESET */
  * {
    margin: 0;
    padding: 0;
  }
  /* HEADER SMALL SCREEN STYLES*/
  header {
    padding: 10px 0;
    position: static;
    flex-direction: column;

    box-shadow: none;
  }

  header nav li a {
    padding: 10px 10px;
    font-size: .6em;
  }

  /* HOME SMALL SCREEN STYLES*/
  #home {
    margin: 0;
  }
  #home h1 {
    font-size: 1.5em;
  }

  #home hr {
    margin: 20px;
  }

  #home h3 {
    font-size: .75em;
  }

  #home h4 {
    align-self: center;
    margin-top: 10px;
    font-size: 1em;
  }

  /* ABOUT SMALL SCREEN STYLES*/
  #about {
    margin: 0;
  }

  #about h1 {
    font-size: 1.5em;
  }

  #about h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
  }

  #about h3 {
    font-size: 1em;
  }

  #about ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  #about ul li{
    flex-direction: column;
    align-items: flex-start;
    border: solid 2px #fff;
    border-radius: 25px;
    padding: 10px;
    min-width: 80%;
  }

  #about ul li p {
    align-self: center;
    margin-bottom: 5px;
  }


  /* CONTACT SMALL SCREEN STYLES*/
  footer h1 {
    margin-top: 25px;
    font-size: .4em;
  }

  footer ul {
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
  }

  footer ul li {
    padding: 25px;
    margin: 10px 0;
    border: solid 2px #fff;
    border-radius: 25px;
  }
}


/* CLOCK STYLES */
table.clock {
  margin-top: 100px;
  padding: 20px;
  border: solid 2px #fff;
  box-shadow: 1px 1px 1px #fff;
}

.clock {
  text-align: center;
  margin: 0 auto;
}

.info-display{
  font-size: 3em;
}

.info-header {
  font-size: 2.5em;
}

.info-footer {
  font-size: 1.25em;
}
